.skill-group {
    display: flex;
    flex-flow: row;
    margin-bottom: 24px;
    flex-wrap: wrap;
    & .skill-block {
        display: flex;
        align-items: center;
        margin-right: 0.4rem;
        cursor: pointer;
        padding-top: 0.5rem;
        &__img {
            margin-right: 10px;
            width: 2rem;
            height: 2rem;
        }

        &__name {
            font-size: 0.7rem;
        }
    }
}